
##################
# Project specific
##################

llvm_dirs
*CMakeFiles*
*.cmake
*Makefile
vygraph
build
configure

############
# Qt Creator
############

vygraph.config
vygraph.creator
vygraph.files
vygraph.includes
vygraph.creator.user
